# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# Project files
01_Input/Data_full_sample_exposure.RData
01_Input/Data_full_sample_exposure_analysis.RData
01_Input/Data_full_sample_exposure_geo.RData
01_Input/Data_IQR_ref_values.xlsx
01_Input/new_covariates_base_eb_emod.xlsx
01_Input/Codebook MEQ 181002.docx

# Models results
03_Output/Models/Plots_compiled_figures.RData
03_Output/DLM/Plots_compiled_figures.RData
04_Docs/Blanco_Air pollution and Birth Outcomes_07.2024.docx
04_Docs/Resultads_AirPollution_PO_03032026.docx

02_Code/Map.R